# Assignment 1 - Basic Python

### Written By Mizanur Rahman

## Problem 1.


Prompt the user for an integer A and an integer B. Determine which of these is true (more than one may be true!)

    if A is a multiple of B
    if B is a multiple of A
    neither A nor B is a multiple of one another

NOTE: more than one may be true. Also, watch out for 0's.

In [37]:
a = int(input("Please Enter a value for a: "))
b = int(input("Please Enter a value for b: "))

if a%b==0:
    print("A is the multiple of B =", a)
elif b%a==0:
    print("B is the Multiple of A =", b)
else:
   print("neither A nor B is a multiple of one another")

Please Enter a value for a: 3
Please Enter a value for b: 9
B is the Multiple of A = 9

## Problem 2.
Write a while-loop to calculate the sum of all the integers from 1 up to and including 100.

In [38]:
sum = 0
counter = 1
while counter <= 100:
    #print(counter)
    sum = sum + counter
    counter  += 1
print("The sum is:", sum)
#print("Done!")

The sum is: 5050

## Problem 3.
Calculate the sum of all the integers from 1 up to and including 100, except those that are multiples of 7.

In [39]:
count = 0

for num in range(0,101):
    count = count + num
    num = num + 1
    print(count)
    
    nsum = 0
    for num in range(0,101):
        
        if num % 7 == 0:
            nsum += num 
            #print(str(nsum) + " {:4d} is divisible by 7".format(num))
            
    print()        
print("The sum of all integers except those of multiple of 7 =", count - nsum)

0

1

3

6

10

15

21

28

36

45

55

66

78

91

105

120

136

153

171

190

210

231

253

276

300

325

351

378

406

435

465

496

528

561

595

630

666

703

741

780

820

861

903

946

990

1035

1081

1128

1176

1225

1275

1326

1378

1431

1485

1540

1596

1653

1711

1770

1830

1891

1953

2016

2080

2145

2211

2278

2346

2415

2485

2556

2628

2701

2775

2850

2926

3003

3081

3160

3240

3321

3403

3486

3570

3655

3741

3828

3916

4005

4095

4186

4278

4371

4465

4560

4656

4753

4851

4950

5050

The sum of all integers except those of multiple of 7 = 4315

## Problem 4.
 Copy/paste the data below into a Python cell.

         data = [823, 97, 197, 679, 186, 837, 916, 654, 658, 574,
                 965, 847, 456, 280, 857, 120, 770, 24, 231, 238,
                 295, 846, 120, 25, 772, 779, 219, 524, 643, 990, 
                 848, 694, 56, 432, 112, 815, 243, 586, 433, 631, 
                 56, 803, 412, 440, 735, 510, 84, 727, 616, 343, 
                 426, 671, 950, 244, 827, 1002, 544, 625, 518, 887, 
                 882, 444, 798, 584, 297, 412, 913, 664, 413, 460, 
                 960, 801, 889, 250, 732, 104, 653, 891, 53, 356, 
                 578, 59, 761, 540, 405, 117, 457, 917, 642, 973, 
                 416, 991, 342, 846, 816, 896, 877, 117, 623, 620, ]
         

Using the data variable, determine the following:

    The number of values in the list, N

The two smallest values in the list
The two largest values in the list
The range of the values in the list, where range=max−min.
The average, ¯x, of all the values in the list, where¯x=∑Ni=1xiN
The standard deviation, s, of all the values in the list, wheres=√∑Ni=1(xi−¯x)2N−1

In [40]:
data = [823, 97, 197, 679, 186, 837, 916, 654, 658, 574,
        965, 847, 456, 280, 857, 120, 770, 24, 231, 238,
        295, 846, 120, 25, 772, 779, 219, 524, 643, 990, 
        848, 694, 56, 432, 112, 815, 243, 586, 433, 631, 
        56, 803, 412, 440, 735, 510, 84, 727, 616, 343, 
        426, 671, 950, 244, 827, 1002, 544, 625, 518, 887, 
        882, 444, 798, 584, 297, 412, 913, 664, 413, 460, 
        960, 801, 889, 250, 732, 104, 653, 891, 53, 356, 
        578, 59, 761, 540, 405, 117, 457, 917, 642, 973, 
        416, 991, 342, 846, 816, 896, 877, 117, 623, 620,]

print("The number of variables in the list N =", len(data))

The number of variables in the list N = 100

In [41]:
print("Smallest element is:", min(data))

Smallest element is: 24

In [42]:
data.sort()

The two Smallest Values are as follows:

In [43]:
data[0]

24

In [44]:
data[1]

25

The two lagest values are as follows:

In [45]:
data[len(data)-1]

1002

In [46]:
data[len(data)-2]

991

The range of the values in the list, where range =  max−min

In [47]:
range_data =max(data)-min(data)
print(range_data)

978

The average, ¯x, of all the values in the list:

In [48]:
data

[24,
 25,
 53,
 56,
 56,
 59,
 84,
 97,
 104,
 112,
 117,
 117,
 120,
 120,
 186,
 197,
 219,
 231,
 238,
 243,
 244,
 250,
 280,
 295,
 297,
 342,
 343,
 356,
 405,
 412,
 412,
 413,
 416,
 426,
 432,
 433,
 440,
 444,
 456,
 457,
 460,
 510,
 518,
 524,
 540,
 544,
 574,
 578,
 584,
 586,
 616,
 620,
 623,
 625,
 631,
 642,
 643,
 653,
 654,
 658,
 664,
 671,
 679,
 694,
 727,
 732,
 735,
 761,
 770,
 772,
 779,
 798,
 801,
 803,
 815,
 816,
 823,
 827,
 837,
 846,
 846,
 847,
 848,
 857,
 877,
 882,
 887,
 889,
 891,
 896,
 913,
 916,
 917,
 950,
 960,
 965,
 973,
 990,
 991,
 1002]

In [49]:
sm=0
for i in data:
    sm+=i
print(sm)

55441

In [50]:
mean=sm/len(data)

In [51]:
print(mean)

554.41

In [52]:
d= data

The standard deviation, s:

In [53]:
d=[(s-mean)**2 for s in data]

In [54]:
addition=0
for i in d:
    addition+=i
print(addition)

8247376.1899999995

In [55]:
sd=((addition/len(data)-1))**0.5

In [56]:
sd

287.18071296659184

### Problem 5.
Pi, π, can be approximated with the Gregory-Leibniz Series
π=4∗(11−13+15−17+19−…)

The key word here is approximated. You would have to run this forever to actually calculate π

. But we can stop wherever we want to get an approximation. The formula above shows the first 5 fractions in the series. What values are printed when you add/subtract the first

    10 fractions
    100 fractions
    1,000 fractions
    10,000 fractions
    100,000 fractions
    1,000,000 fractions

In [57]:

fractions = [10,100,1000,10000,100000,1000000]

for fac in fractions:
    
    total = 0
    for i in range(0, fac+1):
        
        total = total + ((-1)**i)/((2*i) + 1) 
    value_of_pi = 4*total
    
    print()
    print("The approximate value of Pi for", fac, "is:")
    print(value_of_pi)

The approximate value of Pi for 10 is:
3.232315809405594

The approximate value of Pi for 100 is:
3.1514934010709914

The approximate value of Pi for 1000 is:
3.1425916543395442

The approximate value of Pi for 10000 is:
3.1416926435905346

The approximate value of Pi for 100000 is:
3.1416026534897203

The approximate value of Pi for 1000000 is:
3.1415936535887745